# 51. Print the first 5 positive integers in ascending order with one number in each line.

In [ ]:
def positive_integers(n):
  """
  This function prints first n positive integers
  """
  if n <= 0:     # corner case
    print('Please enter a positive number')

  for i in range(1,n+1):    # for loop iterates from starting position to n-1 position
    print(i)

positive_integers(n = int(input()))

5
1
2
3
4
5

![image.png]()

In [ ]:
def print_star_pattern(n):
  """
  This function prints the right angle star pattern
  """
  if n <= 0:    # corner case
    print('Please enter a valid number')
  for i in range(n+1):
    for j in range(i):
      print('*', end='')
    print()

print_star_pattern(n = int(input()))

5

*
**
***
****
*****

In [ ]:
def star_pattern(n):
  """
  This function prints the right angle star pattern
  """
  if n <= 0:     # corner case
    print('Please enter a positive number')

  for i in range(1, n+1):
    print('*'*i)

star_pattern(n=int(input()))

5
*
**
***
****
*****

# 53. Accept an integer as input and print its square as output.

In [ ]:
def square(n):
  """
  This function prints the square of a number
  """
  print(n*n)

square(n = int(input()))

10
100

# 54.Accept two integers as input and print their sum as output.

In [ ]:
def sum(x,y):
  """
  This function prints the square of a number
  """
  print(x+y)

sum(x = int(input()), y = int(input()))

11
11
22

# 55. Accept two words as input and print the two words after adding a space between them

In [ ]:
def add_two_words(w1, w2):
  """
  This function prints the concatenated words with space
  """
  print(w1,' ',w2)

add_two_words(input(), input())

iNeuron
pw
iNeuron   pw

# 56. Accept the registration number of a vehicle as input and print its state-code as output.

In [ ]:
def get_registration_statecode(reg_num):
  """
  This function prints the concatenated words with space
  """
  if len(reg_num) == 0:     # corner case
    print('Please enter a valida number')

  return reg_num[:2]

print(get_registration_statecode(input()))

OD 04 5318
OD

# 57.Accept a five-digit number as input and print the sum of its digits as output.

In [ ]:
def get_sum_of_digit(n):
  """
  This function prints the concatenated words with space
  """
  if len(str(n)) > 5 or len(str(n)) < 5:    # corner case
    return 'Please enter a 5 digit number'
  sum = 0
  while n:    # untill n becomes zero traverse through number
    sum += n%10    # REMINDER
    n //= 10    # reducing last number
  return sum

print(get_sum_of_digit(n = int(input())))

12345
15

# 58.Accept five words as input and print the sentence formed by these words after adding a space between consecutive words and a full stop at the end.

In [ ]:
def add_five_words(w1, w2, w3, w4, w5):
  """
  This function prints the sentense of consecutive words
  """
  print(f"{w1} {w2} {w3} {w4} {w5}.")

w1 = input()
w2 = input()
w3 = input()
w4 = input()
w5 = input()
add_five_words(w1, w2, w3, w4, w5)

I
am
a
Data
Scientist
I am a Data Scientist.

# 59.Accept the date in DD-MM-YYYY format as input and print the year as output.

In [ ]:
## Approach1

def get_year(date):
  """
  This function prints the year from the given date
  """
  date = date.split('/')
  return date[-1]

date = input()
print(get_year(date))

05/05/1998
1998

In [ ]:
# Approach2

from datetime import datetime

def get_year(date):
  """
  This function prints the year from the given date
  """
  print(date.strftime('%Y'))    # getting the year from date

today = datetime.today()
get_year(today)

2023

# 60.Accept a sequence of five single digit numbers separated by commas as input. Print the product of all five numbers.

In [ ]:
def num_product(nums):
  """
  This function prints multiplication of comma separated digits
  """
  mul = 1
  for i in nums:
      mul*=i
  print(mul)

# taking input and splitting it using ',' and converting numbers to int type
nums = map(int, input().split(','))
num_product(nums)

1,2,3,4,5
120

# 61. Accept two positive integers x and y as input. Print the number of digits in xy

In [ ]:
def number_of_digits(x, y):
  """
  This function prints the count of numbers in product of x and y
  """
  res = x*y    # getting the product
  digit = 0

  while res:    # untill res becomes zero
    res //= 10
    digit+=1    # getting the count of numbers
  return digit

number_of_digits(x = int(input()), y = int(input()))

10
20

3

# 62. Accept a string as input. If the input string is of odd length, then continue with it. If the input string is of even length, make the string of odd length as below:

- If the last character is a period (.), then remove it
- If the last character is not a period, then add a period (.) to the
end of the string

# Call this string of odd length word. Select a substring made up of three consecutive characters from word such that there are an equal number of characters to the left and right of this substring. Print this substring as output. You can assume that all input strings will be in lower case and will have a length of at least four

In [ ]:
def odd_length_word(s):
  """
  This function prints the middle three elements of a given string
  """
  if len(s) < 4:    # corner case
    print('Please enter a valid string')

  if len(s)%2!=0:
    return

  else:
    if s[-1] == '.':
      s = s[:-1]
    else:
      s = s+'.'
  print(s)
  print(s[(len(s)//2-1):(len(s)//2+2)])

odd_length_word(input())

subhasish.
subhasish
has

# 63. Accept three positive integers as input and check if they form the sides of a right triangle. Print YES if they form one, and NO is they do not. The input will have three lines, with one integer on each line. The output should be a single line containing one of these two strings: YES or NO.

In [ ]:
def is_right_triange(a, b, c):
  """
  This function prints Yes if the given input are side of a right angled triangle else NO
  """
  if a**2 + b**2 == c**2 or b**2 + c**2 == a**2 or c**2 + a**2 == b**2:
    print('YES')
  else:
    print('NO')

a = int(input('Input :'))
b = int(input('Input :'))
c = int(input('Input :'))
is_right_triange(a, b, c)

Input :3
Input :5
Input :4
YES

# 64. EvenOdd is a tech startup. Each employee at the startup is given an employee id which is a unique positive integer. On one warm Sunday evening, five employees of the company come together for a meeting and sit at a circular table: The employees follow a strange convention. They will continue the meeting only if the following condition is satisfied.The sum of the employee-ids of every pair of adjacent employees at the table must be an even number. They are so lazy that they won’t move around to satisfy the above condition, If the current seating plan doesn’t satisfy the condition, the meeting will be cancelled. You are given the employee-id of all five employees. Your task is to decide if the meeting happened or not. The input will be five lined, each containing an integer. The ith line will have the employee-id of Ei. The output will be a single line containing one of these two strings: YES or NO

In [ ]:
def evenOdd_stactup(E1, E2, E3, E4, E5):
  """
  This function prints Yes if the given input are side of a right angled triangle else NO
  """
  if (E1+E2) %2!=0:
    print('NO')
    return

  if (E2+E3) %2!=0:
    print('NO')
    return

  if (E3+E4) %2!=0:
    print('NO')
    return

  if (E4+E5) %2!=0:
    print('NO')
    return

  if (E5+E1) %2!=0:
    print('NO')
    return

  print('YES')

E1 = int(input('Input :'))
E2 = int(input('Input :'))
E3 = int(input('Input :'))
E4 = int(input('Input :'))
E5 = int(input('Input :'))
evenOdd_stactup(E1, E2, E3, E4, E5)

Input :2
Input :3
Input :4
Input :6
Input :8
NO

# 65. Accept a string as input and print the vowels present in the string in alphabetical order. If the string doesn’t contain any vowels, then print the string none as output. Each vowel that appears in the input string – irrespective of its case should appear just once in lower case in the output

In [ ]:
def vowels(s):
  """
  This function prints the voswels if present in the string otherwise prints None
  """
  vow = []
  for ch in s:
    if ch.lower() in 'aeiou' and ch.lower() not in vow:    # checking if character is from the vowels and if they already present in list
      vow.append(ch.lower())    # otherwise adding the character

  vow.sort()    # sorting the characters in the list in ascending order
  return vow

if __name__ == '__main__':
  s = input('Input :')
  res = vowels(s)
  if len(res) == 0:    # if no vowels present
    print(None)
  else:
    print(''.join(res))    # print the vowels in string

Input :iNeuron Intelligence
eiou

# 66.You are given the date of birth of two persons, not necessarily from the same family. Your task is to find the younger of the two. If both of them share the same date of birth, then the younger of the two is assumed to be that person whose name comes first in alphabetical order.


# The input will have four lines. The first two lines correspond to the first person, while the last two lines correspond to the second person. For each person, the first line corresponds to the name and the second line corresponds to the date of birth in “DD-MM-YYYY” format. Your output should be the name of the younger of the two.

In [ ]:
def younger_of_two(name1, dob1, name2, dob2):
  """
  This function find the younger person among two by comaparing DOB and name
  """
  day1, month1, year1 = map(int, dob1.split('/'))    # getting the day, month and year
  day2, month2, year2 = map(int, dob2.split('/'))

  if year1 < year2:    # if year1 is less than year2
    return name1
  elif year2 < year1:
    return name2
  else:    # if both years are equal
    if month1 < month2:    # if month1 is less than month2
      return name1
    elif month2 < month1:
      return name2
    else:    # if both months are equal
      if day1 < day2:
        return name1
      elif day2 < day1:
        return name2
      else:    # if both days are equal
        return min(name1, name2)    # return alphabetically smaller name

name1 = input()
dob1 = input()
name2 = input()
dob2 = input()
print(younger_of_two(name1, dob1, name2, dob2))

sai
05/05/1998
subhasish
22/11/1998
sai

# 67.Accept a string as input. Your task is to determine if the input string is a valid password or not. For a string to be a valid password, it must satisfy all the conditions given below:

(1) It should have at least 8 and at most 32 characters

(2) It should start with an uppercase or lowercase letter

(3) It should not have any of these characters: / \ = ' "

(4) It should not have spaces

# It could have any character that is not mentioned in the list of characters to be avoided (points 3 and 4). Output True if the string forms a valid password and False otherwise

In [ ]:
def is_valid_password(password):
  """
  This function checks and prints if a password is valid
  """
  if len(password) < 8 or len(password) > 32:    # checking if size is valid or not
      return False

  if not password[0].isalpha():    # first character should be a letter
    return False

  forbidden_characters = ['/', '\\',  '=', "'", '"']
  if any(char in forbidden_characters for char in password):    # checking using comprehension if the characters in the string has any forbidden character
    return False

  if ' ' in password:    # checking if space is there
    return False

  return True


password = input('Enter the password: ')
is_valid_password(password)

Enter the password: Data@88888888

True

# 68. Accept a positive integer n as input and print the first n positive integers, one number on each line.

In [ ]:
def positive_integer(n):
  """
  This function prints n positive integers
  """
  for i in range(1, n+1):
    print(i)

n = int(input())
positive_integer(n)

7
1
2
3
4
5
6
7

# 69.Accept a positive integer n as input, where n is greater than 1. Print PRIME ifnis a prime number and NOTPRIME otherwise.

In [ ]:
def isPrime(n):
  """
  This function prints if a number is PRIME or NOT
  """
  for i in range(2, n+1//2):    # iterating upto half of the length of n
    if n%i == 0:    # checking if any number devides n and reminder comes zero
      return 'NOT PRIME'     # return to main function


  return 'PRIME'    # otherwise it is PRIME


n = int(input())
print(isPrime(n))

4
NOT PRIME

# 70. Accept two strings as input and form a new string by removing all characters from the second string which are present in the first string. Print this new string as output. You can assume that all input strings will be in lower case.

In [ ]:
def new_string(s1, s2):
  """
  This function prints the characters of two strings
  """
  res = s1

  for j in s2:
    if not j in s1:
      res+=j
  return res

s1 = input('Enter: ')
s2 = input('Enter: ')
new_string(s1, s2)

Enter: sai
Enter: subhasish

'saiubhh'

In [ ]:
a
b
for c in a:
  for c in b:
    b = b.replace(c, '')
print(b)

# 71.Accept a phone number as input. A valid phone number should satisfy the following constraints.

(1) The number should start with one of these digits: 6, 7, 8, 9

(2) The number should be exactly 10 digits long.

(3) No digit should appear more than 7 times in the number.

(4) No digit should appear more than 5 times in a row in the number.

# If the fourth condition is not very clear, then consider this example:

# the number 9888888765 is invalid because the digit 8 appears more than 5 times in a row. Print the string valid if the phone number is valid. If not, print the string invalid.

In [ ]:
def valid_phoneNumber(ph):
  """
  This function prints if the phone number is valida or not
  """
  if ph[0] not in '6789':    # checking the starting number
    return 'Invalid'

  elif len(ph) != 10:    # checking the number of digits
    return 'Invalid'

  for i in range(len(ph)):    # iterating over the string
    if ph.count(ph[i]) > 7:    # checking if the any number present more than 7 times
      return 'Invalid'

    if i < len(ph)-3:    # iterating except last 5 digits
      if ph[i] == ph[i+1] == ph[i+2] == ph[i+3] == ph[i+4] == ph[i+5]:    # checking if the current number present more than 5 times
        return 'Invalid'

  return 'Valid'


ph = input('Enter a phone number: ')
valid_phoneNumber(ph)

Enter a phone number: 9888888765

'Invalid'

In [ ]:
n = input()
a = False
if len(n) == 10 and int(n[0])
  for i in range(10):
    pass

# 72. In the first line of input, accept a sequence of space-separated words. In the second line of input, accept a single word. If this word is not present in the sequence, print NO. If this word is present in the sequence, then print YES and in the next line of the output, print the number of times the word appears in the sequence.

In [ ]:
def deq_char(words, word):
  """
  This function checks if the character is present in the sequence of words or not
  and prints the frequency od the character
  """
  if len(words) <= 0 or len(word) <= 0:    # corner case
    print('Please enter a valid input')
    return

  if word in words:    # checks if the character is present in the string
    print('YES')
  else:
    print('NO')

words = input()
word = input()
deq_char(words, word)

data data data
data
YES

In [ ]:
def word_frequency(words, ch):
  """
  This function checks if the character is present in the sequence of words or not
  and prints the frequency od the character
  """
  if len(words) <= 0 or len(ch) <= 0:    # corner case
    print('Please enter a valid input')
    return

  if any(ch in word for word in words):    # checks if the character is present in the sequence
    print('YES')
  else:
    print('NO')

  count = 0
  for word in words:    # iterating over sequence
    if ch == word:    # getting the frequency
      count+=1
  return count


words = input().split()
ch = input()
word_frequency(words, ch)

# add

data data data data
data
YES

4

# 73. Write a function named factorial that accepts an integer n as argument. It should return the factorial of n if n is a positive integer. It should return -1 if n is a negative integer, and it should return 1 if n is zero.

In [ ]:
def factorial(n):
  """
  This function finds the factorial of given number recurssively
  """
  if n == 0:
    return 1

  if n < 0:    # corner case
    return -1

  return n * factorial(n-1)    # using recurssion

n = 5
factorial(n)

120

# 74. The range of a list of numbers is the difference between the maximum and minimum values in the list Write a function named get_range that accepts a non-empty list of real numbers as argument. It should return the range of the list.

(1) Avoid using built-in function such as max and min.

(2) You do not have to accept input from the user or print output to the console. You just have to write the function definition.

In [ ]:
def get_range(num_lst):
  '''
  This function finds the range value in a list of numbers
  '''
  if len(num_lst) == 0:
    return 'Please enter a valid list'

  min = max = num_lst[0]
  for i in range(len(num_lst)):    # iterating over list
    if num_lst[i] < min:    # finding min value
        min = num_lst[i]
        #print(min)

    elif num_lst[i] > max:    # finding maximum value
        max = num_lst[i]
        #print(max)

  return (max-min)    # return range

num_lst = eval(input())
get_range(num_lst)

[2,8,9,7,6]

7

# 75. Write a function named read_file that accepts a text file named filename as argument. Within the function, read the file and print each line of the file on a separate line in the console. You shouldn't print any extra characters at the end of a line. There shouldn't be an empty line between any two consecutive lines.


(1) filename is a string variable that holds the name of the file. For example,in the first test case, it is filename = 'public_1.txt'.


(2) You do not have to accept input from the console. You have to write the function definition and print the contents of the file within the function

In [ ]:
def read_file(filename):
  '''
  This function reads the data in a txt file
  '''
  with open(filename, 'r') as file:    # opening file in read mode
      for line in file:
          print(line.rstrip())    # skipping the extra space from the right side

# Example usage
filename = input()
read_file(filename)

/content/test.txt
This is Python Programming.
DataScience
MachineLearning

# 76. A simple algorithm has to be designed to find out whether a student belongs to the Data Science branch or not. The input will be a student's roll number, which is of the form BR18B0000. Here, BR represents the branch code, 18 represents the year of joining, B represents the education level and 0000 represents the specific identification given to the student of that batch. The branch code for Data Science is DS. Print True if the student belongs to Data Science branch and False otherwise.

In [ ]:
def branch_check(roll_no):
  '''
  This function checks the branch code of a student
  '''
  if len(roll_no) < 9:    # corner case
    return 'Please enter a valid number'

  if roll_no[:2] == "DS":    # checking the starting 2 char
    return True
  else:
    return False

roll_no = input()
branch_check(roll_no)

DS23B1118

True

# 77.The police are trying to track a criminal based on the evidence available at a crime site. Their main clue is a vehicle's damaged number plate. Only the string TN07 is visible. The format of the registration number is AA00AA00, where the first two letters are alphabets, next two are numbers, next two are again alphabets followed by two numbers at the end. A number plate is picked from a database of registration numbers and is given to you as input. Your task is to determine if this could belong to the criminal or not. Print True if the number plate contains TN07 and False otherwise.

In [ ]:
def number_plate_check(db_np):
  '''
  This function checks if a number place contains certion state code or not
  '''
  if 'TN07' in db_np:    # if input contains
    return True
  else:
    return False

db_np = input()
number_plate_check(db_np)

OD04TN07

True

# 78. You are given a string and two non-negative integers as input. The two integers specify the start and end indices of a substring in the given string. Create a new string by replicating the substring a minimum number of times so that the resulting string is longer than the input string. The input parameters are the string, start index of the substring and the end index of substring (endpoints inclusive) each on a different line.

In [ ]:
def create_substring(string, s, e):
  '''
  This function finds the substring
  '''
  sub_string = string[s : e+1]    # creating s substring
  new_string = string    # copying the string to make new string larger

  while len(new_string) <= len(string):
    new_string +=sub_string    # adding the substring to new string

  return new_string


string = input()
s = int(input())
e = int(input())
print(create_substring(string, s, e))

subahsish
3
7
subahsishahsis

# 79. A class teacher has decided to split her entire class into four groups, namely Sapphire, Peridot, Ruby, and Emerald for sports competitions. For dividing the students into these four groups, she has followed the pattern given below:
Sapphire - 1, 5, 9, 13, 17, 21, ...

Peridot - 2, 6, 10, 14, 18, 22, ...

Ruby - 3, 7, 11, 15, 19, 23, ...

Emerald - 4, 8, 12, 16, 20, 24, ...

# All the students are represented by their roll numbers. Based on the above pattern, given the roll number as input, print the group the student belongs to. Note that the roll number can be any positive integer and not necessarily less than 25.

In [ ]:
def get_group(roll_no):
  rem = roll_no%4
  if rem == 1:
    return 'Sapphire'
  elif rem == 2:
    return 'Peridot'
  elif rem == 3:
    return 'Ruby'
  elif rem == 0:
    return 'Emerald'

roll_no = int(input())
print(get_group(roll_no))

8
Emerald

# 80. A data science company wants to hire data scientists from abc college. The company follows a certain criteria for selection: for a student to be selected, the number of backlogs should be at most 5 and the CGPA (Cumulative Grade Point Average) should be greater than 6. If the student does not fit the above criteria, then the student is not offered the job. If the student is selected, then the salary offered is equal to 5 times his/her CGPA (in lakhs).Accept the number of backlogs (integer) and the CGPA (float) of the student as input. Your task is to determine if the student is selected or not. If the student is selected, then print the package. If not, then print the string Not Selected.

In [ ]:
def select_datascientists(backlogs, cgpa):
  if backlogs <= 5:
    if cgpa > 6:
      return str(cgpa * 5)+'LPA'
    else:
      return 'Not Selected'
  else:
    return 'Not Selected'

backlogs = int(input())
cgpa = float(input())
print(select_datascientists(backlogs, cgpa))

0
7.29
36.45LPA

# 81. Accept a string as input and print PALINDROME if it is a palindrome, and NOT PALINDROME otherwise

In [ ]:
def is_palindrome(s):
  temp = s
  rev = ''
  while temp:
    rev = rev+temp[-1]
    temp = temp[:-1]
  if rev == s:
    return 'PALINDROME'
  else:
    return 'NOT PALINDROME'

print(is_palindrome(s = input()))

mom
PALINDROME

In [ ]:
# for numbers

def is_pal(n):
  temp = n    # declaring a variable containing n
  rev = 0    # to store the reverse number
  while temp:    # utill temp becomes zero
    rem = temp%10    # getting reminder
    rev = rev*10 + rem    # each time adding reminder with 10 multiplied reverse
    temp= temp//10    # reducing number with a digit
  if n == rev:
    return "PALINDROME"
  else:
    return 'NOT PALINDROME'

print(is_pal(n=int(input())))

11
PALINDROME

# 82. In a portal login website, you are asked to write a function get_password_strength to decide the strength of a password. The strength is decided based on the total score of the password, Use

following conditions:

1) If password has length greater than 7 then score increases by one point.


2) If password has at least one upper case and one lower case alphabets score increases by one point.

3) If password has at least one number and no consecutive numbers like 12 or 234 then score
increases by one point.

4) If password has at least one special character (any character other than numbers and alphabets) then
score increases by one point.

5) If password contains username, then it is invalid password.

If the password has score of four points, three points, two points, or one point then print Very
Strong, Strong, Moderate, or Weak respectively. If the password is invalid, then
print PASSWORD SHOULD NOT CONTAIN USERNAME and If the score is zero, then print Use a
different password.The arguments to the function are username and password which are
already defined

In [ ]:
def get_password_strength(username, password):
  if username in password:    # Check if password contains username
    return "Password should not contain username"

  point = 0
  if len(password) > 7:    # Check password length
    point+=1

  if any(char.upper() for char in password) and any(char.lower() for char in password):    # Check for upper case and lower case alphabets
    point+=1

  if any(char.isdigit() for char in password) and not any(str(i) + str(i+1) in password for i in range(9)):    # Check for at least one number and no consecutive numbers
    point+=1

  if any(not c.isalnum() for c in password):    # Check for special characters
    point+=1

  # Determine password strength based on the score
  if point == 0:
      return "Use a different password"

  elif point == 1:
      return "Weak"

  elif point == 2:
      return "Moderate"

  elif point == 3:
      return "Strong"

  elif point == 4:
      return "Very Strong"

username = input()
password = input()
print(get_password_strength(username, password))

sai
Data@9090
Very Strong

# 83.decorator that logs the date and time

In [ ]:
# Decorator call will execute decorator function first then normal function, here we are passing the *args and **kwargs to accept any argument in the function call

from datetime import datetime

def log_date_time(func):
  def inner(*args, **kwargs):
    print(f'Date and Time: {datetime.now()}')
    return func(*args, **kwargs)
  return inner

@log_date_time
def greet(name):
  print(f'Hello {name}')

greet('Sai')

Date and Time: 2023-06-24 05:08:24.520712
Hello Sai

# 84.Program to Get Data Items From a List Appearing Odd Number of Times

In [ ]:
def odd_number_appearence(Data):
  feature_map = {}    # to store the key value

  for i in Data:    # adding elements to dict as key value
    if i not in feature_map:
      feature_map[i] = 1
    else:
      feature_map[i] += 1

  for i,n in enumerate(feature_map):    # traversing over feature_map
    if feature_map[n]%2!=0:    # checking if number of apperance is odd
      print(list(feature_map)[i])    # print the element

Data = eval(input())
odd_number_appearence(Data)

[1,1,2,3,2,4]
3
4

# 85.What are decorators in Python?

**Ans.**

**Decorator :**

Decorator is a function which takes a function as input argument and extend it's functionality and returns modified function with extended functionality.

- Decorator is a function. It always takes a function as argument(input function).
- The biggest advantage of this function is, i) Code reusability, ii) DRY principle (Don't repeat yourself)
- In python every function is treated as object internally.
- Decorator creates a new function with extended functionality. In this new function we may use the original function(input function). And it will return the extended function as output.
- Without affecting the original function we can extend its functionality using decorator.

In [ ]:
# eg -> This function will execute only decorator because we are not returning func() inside inner()

def decor(func):
  def inner():
    print('My name is Sai Subhasish')
    print('I am a Data Scientist')
  return inner

@decor
def display():
  print(f'My name is Sai Subhasish')

display()

My name is Sai Subhasish
I am a Data Scientist

# 86. remove items from a list while iterating but without creating a different copy of a list. Remove numbers greater than 50
# number_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
# Expected Output: [10, 20, 30, 40, 50]

In [ ]:
def remove_duplicates(num_list):
  for i in range(len(num_list)-1, -1, -1):    # iterating in reverse direction
    if num_list[i] > 50:    # checking the condition
      del num_list[i]    # delete number at index if condition meets

  return num_list

remove_duplicates(eval(input()))

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

[10, 20, 30, 40, 50]

# 87.  Display all duplicate items from a list
# sample_list = [10, 20, 60, 30, 20, 40, 30, 60, 70, 80]
# Expected Output: [20, 60, 30]

In [ ]:
def duplicates(sample_list):
  res = []
  exp_out = []

  for i in sample_list:    # iterating over the list
    if i not in res:    # adding the unique elements
      res.append(i)
    else:    # adding the duplicated elements
      exp_out.append(i)
  return exp_out    # returning the duplicated elements

sample_list = eval(input())
duplicates(sample_list)

[10,20,60,30,20,40,30,60,70,80]

[20, 30, 60]

# 88. Create an outer function that will accept two strings, x and y. (x= 'Emma' and y = 'Kelly'. Create an inner function inside an outer function that will concatenate x and y. At last, an outer function will join the word 'developer' to it.

In [ ]:
def outer(x, y):
  def inner(x,y):
    return x+' '+y
  res = inner(x, y)
  return res+' '+'developer'

x = input()
y = input()
outer(x, y)

Emma
Kelly

'Emma Kelly developer'

# 89. Modify the element of a nested list inside the following list Change the element 35 to 3500
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]

In [ ]:
list1 = [5, [10, 15, [20, 25, [30, 35], 40], 45], 50]
list1[1][2][2][1] = 3500

print(list1)

[5, [10, 15, [20, 25, [30, 3500], 40], 45], 50]

# 90.  Access the nested key increment from the following dictionary
Access 12

emp_dict = {

    "company": {

        "employee": {

            "name": "Jess",

            "payable": {

                "salary": 9000,

                "increment": 12
            }

        }

    }

}

In [ ]:
emp_dict = {

    "company": {

        "employee": {

            "name": "Jess",

            "payable": {

                "salary": 9000,

                "increment": 12
            }

        }

    }

}

emp_dict["company"]["employee"]["payable"]['increment']

12

# 91. Print the sum of the current number and the previous number. Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Printing current and previous number sum in a range(10)

Current Number 0 Previous Number  0  Sum:  0

Current Number 1 Previous Number  0  Sum:  1

Current Number 2 Previous Number  1  Sum:  3

Current Number 3 Previous Number  2  Sum:  5

Current Number 4 Previous Number  3  Sum:  7

Current Number 5 Previous Number  4  Sum:  9

Current Number 6 Previous Number  5  Sum:  11

Current Number 7 Previous Number  6  Sum:  13

Current Number 8 Previous Number  7  Sum:  15

Current Number 9 Previous Number  8  Sum:  17

In [ ]:
def sum_iteration(n):
  sum = 0
  for i in range(n):
    prev = i-1
    if i ==  0:    # corner case
      prev = 0

    print(f"Current Number {i} Previous Number{prev} Sum: {i+prev}")

sum_iteration(int(input()))

10
Current Number 0 Previous Number0 Sum: 0
Current Number 1 Previous Number0 Sum: 1
Current Number 2 Previous Number1 Sum: 3
Current Number 3 Previous Number2 Sum: 5
Current Number 4 Previous Number3 Sum: 7
Current Number 5 Previous Number4 Sum: 9
Current Number 6 Previous Number5 Sum: 11
Current Number 7 Previous Number6 Sum: 13
Current Number 8 Previous Number7 Sum: 15
Current Number 9 Previous Number8 Sum: 17

# 92. Print characters from a string that are present at an even index number Write a program to accept a string from the user and display characters that are present at an even index number.

For example, str = "ineuron" so you should display ‘i’, ‘e’, ‘r’, ‘n’.

In [ ]:
def print_even_index_char(s):
  res = ''

  for i in range(len(s)):    # iterating over string
    if i%2==0:    # checking index
      res += f"'{s[i]}',"    # adding matched indexed charcter with '',

  print(res[:-1])    # result


print_even_index_char(s = input())

ineuron
'i','e','r','n'

# 94. Remove duplicates from a list and create a tuple and find the minimum and maximum number

sample_list = [87, 45, 41, 65, 94, 41, 99, 94]

Expected Outcome: unique items [87, 45, 41, 65, 99]

tuple (87, 45, 41, 65, 99)

min: 41

max: 99

In [ ]:
def remove_duplicates_min_max(sample_list):
  #unique_items = list(set(sample_list))

  unique_items = []
  [unique_items.append(i) for i in sample_list if i not in unique_items]    # using list comprehension

  tuple_items = tuple(unique_items)

  min_num = min(tuple_items)
  max_num = max(tuple_items)

  print("unique items: ", unique_items)
  print("tule: ", tuple_items)
  print("min: ", min_num)
  print("max: ", max_num)

remove_duplicates_min_max(eval(input()))

[87, 45, 41, 65, 94, 41, 99, 94]
unique items:  [65, 99, 41, 45, 87, 94]
tule:  (65, 99, 41, 45, 87, 94)
min:  41
max:  99

# 95. Write a Python program to create a lambda function that adds 15 to a given number passed in as an argument, also create a lambda function that multiplies argument x with argument y and print the result.

In [ ]:
s = lambda a:a+15    # lambda function to add 15 to a given number

s(int(input()))

10

25

In [ ]:
s = lambda x,y:x*y    # lambda function to multiply two numbers

res = s(x=int(input()), y=int(input()))
print(res)

24
42
1008

# 96. Write a Python program to sort a list of tuples using Lambda.

In [ ]:
my_list = eval(input())

sorted_list = sorted(my_list, key=lambda x:x[0])    # sort using first value in tuple

# sorted_list = sorted(my_list, key=lambda x:x[1])    # sort using second value in tuple

print(sorted_list)

[(1,4), (2,6), (8,9), (4,2), (4,6)]
[(1, 4), (2, 6), (4, 2), (4, 6), (8, 9)]

# 97. Write a Python program to extract year, month, date and time using Lambda.

In [ ]:
from datetime import datetime

print(datetime.today())

2023-06-24 13:08:57.622864

In [ ]:
from datetime import datetime

# Sample datetime object
my_datetime = datetime(2023, 6, 24, 13, 8, 57)


# Extract year, month, date, and time using a lambda function
year = lambda dt: dt.year
month = lambda dt: dt.month
day = lambda dt: dt.day
time = lambda dt:dt.time()

# Invoke the lambda functions
extracted_year = year(my_datetime)
extracted_month = month(my_datetime)
extracted_day = day(my_datetime)
extracted_time = time(my_datetime)

# Print the extracted values
print("Year:", extracted_year)
print("Month:", extracted_month)
print("Day:", extracted_day)
print("Time:", extracted_time)

Year: 2023
Month: 6
Day: 24
Time: 13:08:57

# 98. Write a Python program to count the even, odd numbers in a given array of integers using Lambda.

In [ ]:
array = eval(input())

even_count = len(list(filter(lambda x:x%2==0, array)))
odd_count = len(list(filter(lambda x: x%2!=0, array)))

print("Even count: ", even_count)
print("Odd count: ", odd_count)

[0,1,2,3,4,5,6,7,8,9]
Even count:  5
Odd count:  5

# 99. Write a Python program to convert all the characters in uppercase and lowercase and eliminate duplicate letters from a given sequence. Use map() function.

In [ ]:
s_list = input()

upper_case = list(map(str.upper, s_list))
lower_case = list(map(str.lower, s_list))

swap_case_list = list(map(str.swapcase, s_list))

unique_list = list(set(s_list))

print('Swap Case: ',''.join(swap_case_list))
print('UpperCase: ',''.join(upper_case))
print('Lower Case: ',''.join(lower_case))
print('Unique letters: ',''.join(unique_list))

DaTa ScieNce
Swap Case:  dAtA sCIEnCE
UpperCase:  DATA SCIENCE
Lower Case:  data science
Unique letters:  NcSDaTei

# 100.  Write a Python program to square the elements of a list using map() function.

In [ ]:
def square(n):    # function to get square
  return n*n

res = map(square, eval(input()))    # applying square to list of numbers using map    -> getting iter object

print([x for x in res])    # iterating over result using comprehension to get output

[1,2,3]
[1, 4, 9]